<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>Haven</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlue-60x60@2x.png</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconBlue</string>
			</dict>
			<key>AppIconBlueDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlueDark-60x60@2x.png</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconBlueDark</string>
			</dict>
			<key>AppIconBright</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBright-60x60@2x.png</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconBright</string>
			</dict>
			<key>AppIconBrightDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBrightDark-60x60@2x.png</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconBrightDark</string>
			</dict>
			<key>AppIconDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDark-60x60@2x.png</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconDark</string>
			</dict>
			<key>AppIconDarkDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDarkDark-60x60@2x.png</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconDarkDark</string>
			</dict>
			<key>AppIconDefaultDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDefaultDark-60x60@2x.png</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconDefaultDark</string>
			</dict>
			<key>AppIconFresh</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconFresh-60x60@2x.png</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconFresh</string>
			</dict>
			<key>AppIconFreshDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconFreshDark-60x60@2x.png</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconFreshDark</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>CFBundleName</key>
	<string>haven</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>用于连接局域网或 Tailscale 内的 Audiobookshelf 服务器</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
